.header {
    width: 100%;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $color_2;
    font-family: $font-family_1, sans-serif;

    @media (min-width: 1280px) {
        padding: 0;
    }

    &__brand {
        font-size: 12px;
        font-weight: 700;
        margin-left: 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        .logo {
            height: 50px;

            @media (min-width: 768px) {
                height: 150px;
            }
            
            @media (min-width: 1280px) {
                height: 150px;
            }
        }

        @media (min-width: 360px) {
            font-size: 15px;
        }
        @media (min-width: 768px) {
            font-size: 30px;
        }
        
        @media (min-width: 1280px) {
            font-size: 20px;
        }
    }

    .menuToggle {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin-right: 20px;

        @media (min-width: 768px) {
            width: 40px;
            height: 30px;
        }

        @media (min-width: 1280px) {
            display: none;
        }

        span {
            width: 100%;
            height: 4px;
            background-color: $color_1;

            @media (min-width: 768px) {
                height: 6px;
            }
            
            &.topBar, &.middleBar, &.bottomBar {
                transition: all ease-out 0.5s;
            }

            &.active-menu {
                &.topBar {
                  transform: translateY(200%) rotate(-45deg);
                }
                
                &.bottomBar {
                  transform: translateY(-200%) rotate(45deg);
                }
                
                &.middleBar {
                  opacity: 0;
                }
              }
        }
    }

    &__navMobile {
        display: none;
        z-index: 100;
        font-weight: 700;
        .menu-header-container {
            width: 100%;
            display: flex;
            align-items: center;
            background-color: $color_3;

            .menu {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                font-size: 15px;
                padding: 0;
                text-transform: uppercase;
                cursor: pointer;
                margin-top: -30px;

                .menu-item {
                    a {
                        color: $color_1;
                        font-weight: 700;
                    }
                }

                @media (min-width: 360px) {
                    font-size: 20px;
                }

                @media (min-width: 768px) {
                    font-size: 30px;
                    margin-top: -150px;
                }

                .sub-menu {
                    font-size: 13px;
                    list-style: inside;
                    li::marker {
                        color: $color_1;
                    }

                    @media (min-width: 768px) {
                        font-size: 25px;
                    }
                }

            }
        }
    }

    .active {
        display: flex;
        position: fixed;
        top: 70.6px;
        width: 100vw;
        height: 100vh;
        background-color: $color_3;
        animation: fadeIn 400ms;

        @media (min-width: 360px) {
            top: 70px;
        }

        @media (min-width: 768px) {
            top: 170px;
        }
    }

    


    &__navDesktop {
        display: none;
        font-weight: 700;
        @media (min-width: 1280px) {
            display: flex;
            .menu {
                margin-right: 20px;
                display: flex;
                flex-direction: row;
                gap: 30px;
                font-size: 18px;
                text-transform: uppercase;
                cursor: pointer;

                .sub-menu {
                    display: none;
                }
            }
        }
    }
}

.fixed {
    position: fixed;
    z-index: 1000;
}