$color_1: black;
$color_2: #fdbffd;
$color_3: white;
$color_4: #ffe7ff;;
$font-family_1: 'UnicaOne'; //Playfair Display
$font-family_2: 'Roboto';

$gradient: $color_4;
$box-shadow: 20px 20px 60px #d9c4d9,
-20px -20px 60px #ffffff;

//#9BABB5